*{
    padding: 0px;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color:#e6f0ff;
}

h1{
    color: rgb(51, 102, 153);
    text-align: center;
    margin: 15px;
}

p{
    font-size: 1.2em;
    text-align: justify;
    margin: 15px;
}

li{
      text-align: center; 
      padding: 0;
      margin: 0;
      line-height: 2;
      list-style-position: inside;
}

img#imagem1{
    border-radius: 10px;
    width: 400px;
    height: 200px;
}

h2{
    text-align: center;
}

table{
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #6c6c6c;
}

th,td{
    border: 1px solid #6c6c6c;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 15px;
    border-radius: 10px;
    
}

a:hover{
    background-color: blue;
    color: white;
}

button {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}
button:hover{
    background-color: blue;
    color: white;
}





