/* difinindo estilização geral da página */
*{
    padding: 0px;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
}

/* definições do fundo da página */
body{
    background-color:#e6f0ff;
}

/* definições do titulo principal */
h1{
    color: rgb(51, 102, 153);
    text-align: center;
    margin: 15px;
}

/* definições do páragrafo */
p{
    font-size: 1.2em;
    text-align: justify;
    margin: 15px;
}

/* definições dos itens da lista de hobbies e atividades */
li{
      text-align: center; 
      padding: 0;
      margin: 0;
      line-height: 2;
      list-style-position: inside;
}

/* definindo o estilo da imagem */
img#imagem1{
    border-radius: 10px;
    width: 400px;
    height: 200px;
}

/* alinhando os titúlos secundario */
h2{
    text-align: center;
}

/* definição da tabela */
table{
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #6c6c6c;
}

/* definição das celulas da tabela */
th,td{
    border: 1px solid #6c6c6c;
    padding: 10px;
}

/* estilo do link */
a{
    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 15px;
    border-radius: 10px;
    
}

/* definindo efeito passar mouse por cima do link */
a:hover{
    background-color: blue;
    color: white;
}

/* estilo do botão */
button {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* definindo efeito passar o mouse por cima do botão */
button:hover{
    background-color: blue;
    color: white;
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        margin: 10px;
    }

   

    table {
        min-width: 200px;
        width: auto;
        table-layout: auto;
    }

    img#imagem1 {
        width: 80%;
        height: auto;
    }

    img{
        width: 200px;
    
    }

   
}